.mat-dialog-content {
  min-height: 180px;
  min-width: 250px;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: rgb(66, 134, 244) !important;
}

.mat-form-field {
  width: 100%;
}