<div class="row grid-memberlist" [class.search]="search" [class.marginTop]="!hasRole()">
  <div
    class="memberList__item col-xl-3 col-lg-4 col-md-6 cards"
    *ngFor="let item of memberList; let i = index"
    [class.heightCard]="!hasRole()"
    >
      <div class="content" (dblclick)="change($event, i)" (click)="checkItem($event, item)" [class.done]="item.isChecked">
        <div class="cardFront">
          <mat-card class="example-card">
            <div class="image">
              <img mat-card-image [src]="item.avatar || '/assets/image/default-user-image.png'"
              alt=avatar_{{item.firstName}} />
            </div>
            <mat-card-content>
              <h5 class="grid-member__name">{{item.saintName}} {{item.lastName}} {{item.firstName}}</h5>
              <p >
                Ngày sinh:
                <span [class.red-color]="!item?.dateOfBirth">
                  {{ item?.dateOfBirth ? item.dateOfBirth : 'chưa có' }}
                </span>
              </p>
              <p >
                Số điện thoại:
                <span [class.red-color]="!item?.phoneNumber">
                  {{ item?.phoneNumber ? item.phoneNumber : 'chưa có' }}
                </span>
              </p>
              <p >
                Địa chỉ:
                <span [class.red-color]="!item?.address">
                  {{ item?.address ? item.address : 'chưa có' }}
                </span>
              </p>
            </mat-card-content>
            <mat-card-actions  class="d-flex justify-content-between align-items-center">
              <button mat-button *ngIf="hasRole()" (click)="editMember($event, item)">Update</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="cardBack">
          <!-- back content -->
          <mat-card class="example-card">
            <mat-card-header class="justify-content-center">
              <mat-card-title>THÔNG TIN</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h6>Tên Thánh, Họ và tên Cha:</h6>
              <p [class.red-color]="!item?.fullNameDad">
                {{ item?.fullNameDad ? item.fullNameDad : 'chưa có' }}
              </p>
              <h6>Số điện thoại Cha:</h6>
              <p [class.red-color]="!item?.phoneNumberDad">
                {{ item?.phoneNumberDad ? item.phoneNumberDad : 'chưa có' }}
              </p>
              <h6>Tên Thánh, Họ và tên Mẹ:</h6>
              <p [class.red-color]="!item?.fullNameMom">
                {{ item?.fullNameMom ? item.fullNameMom : 'chưa có' }}
              </p>
              <h6>Số điện thoại Mẹ:</h6>
              <p [class.red-color]="!item?.phoneNumberMom">
                {{ item?.phoneNumberMom ? item.phoneNumberMom : 'chưa có' }}
              </p>
              <h6>Giáo xứ:
                <span class="infomation-detail" [class.red-color]="!item?.parish">
                  {{ item?.parish ? item.parish : 'chưa có' }}
                </span>
              </h6>
              <h6>Khu họ:
                <span class="infomation-detail" [class.red-color]="!item?.province">
                  {{ item?.province ? item.province : 'chưa có' }}
                </span>
              </h6>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-between align-items-center">
              <button mat-button *ngIf="hasRole()" (click)="editMember($event, item)">Update</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  </div>
</div>