.grid-memberlist {
	margin: 95px -15px 0
}

.marginTop {
	margin-top: 30px;
}

.search {
	margin-top: 90px;
}

.memberList__item {
	margin-top: 10px;
}

.image {
	width: 100%;
	height: 170px;
	margin-bottom: 10px;
}

.mat-card {
	padding: 5px;
}

.mat-card-image {
	width: 100%;
	height: 100%;
	margin: 0;
}

.mat-card-content {
	font-size: 12px;
}

.mat-card-content h6 {
	font-size: 14px;
}

.red-color {
	color: red;
	font-style: italic;
}

.grid-member__name {
	min-height: 33px;
	font-size: 14px;
}

p {
	 margin-bottom: 7px;
	 font-size: 12px;
}

.mat-card-image:first-child {
	margin-top: 0px
}

.cards {
	perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	height: 350px;
	padding: 0px 5px
}

.heightCard {
	height: 420px;
}

.cards .content {
	transition: 0.5s ease-out;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	-ms-transition: 0.5s ease-out;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;

	/* content backface is visible so that static content still appears */
	backface-visibility: visible;
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-o-backface-visibility: visible;
	-ms-backface-visibility: visible;
	position:relative;
	width: 100%;
	height: 100%;

}
.cards.applyflip .content {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

.cards .content .cardFront, .cards .content .cardBack {
	/* Backface visibility works great for all but IE. As such, we mark the backface visible in IE and manage visibility ourselves */
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.cards .content .cardFront, .cards.applyflip .content .cardFront {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
}

.cards .content .cardBack, .cards.applyflip .content .cardBack {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
}

.cards .content .cardFront, .cards.applyflip .content .cardBack {
	/* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
	animation: stayvisible 0.5s both;
	-webkit-animation: stayvisible 0.5s both;
	-moz-animation: stayvisible 0.5s both;
	-o-animation: stayvisible 0.5s both;
	-ms-animation: donothing 0.5s;
	visibility: visible;
}

.cards.applyflip .content .cardFront, .cards .content .cardBack {
	/* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
	animation: stayvisible 0.5s both;
	-webkit-animation: stayvisible 0.5s both;
	-moz-animation: stayvisible 0.5s both;
	-o-animation: stayvisible 0.5s both;
	-ms-animation: donothing 0.5s;
	visibility: hidden;
}
@keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
@-webkit-keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
@-moz-keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
@-o-keyframes stayvisible { from { visibility: visible; } to { visibility: visible; } }
/* @-ms-keyframes donothing { 0% { } 100% { } } */

.more-details, .back {
	font-size: 15px;
	color: #007bff;
	cursor: pointer;
	position: relative;
}

.mat-card {
	height: 100%;
}

.mat-card-title {
	margin-top: 10px;
  font-size: 16px;
	text-decoration: underline;
	margin-bottom: 15px;
}

.mat-card-actions {
	position: absolute;
	width: 90%;
	bottom: 20px;
}

.mat-button {
	font-size: 12px;
}

.infomation-detail {
	font-weight: 200;
	font-size: 15px;
}

@media only screen and (min-width: 768px) {
	.grid-memberlist {
		padding: 0 10px
	}

	.cards {
		height: 380px;
	}

	.mat-card {
		padding: 12px;
	}

	.image {
		height: 185px;
	}

	.grid-member__name {
    min-height: 38px;
    font-size: 16px;
}
}

@media only screen and (min-width: 1024px) {
	.marginTop {
		margin-top: 50px;
	}

	.search {
		margin-top: 102px;
	}

	.cards {
		height: 400px;
	}

	.heightCard {
		height: 450px;
	}

	.image {
		margin-bottom: 20px;
		height: 170px;
	}

	.grid-member__name {
		min-height: 42px;
		font-size: 18px;
	}

	p {
		font-size: 14px;
	}

	.mat-button {
		font-size: 13px
	}
}