<div *ngIf='type'>
  <h2 mat-dialog-title>Update User</h2>
    <form [formGroup]="formUpdateUser" (ngSubmit)="onSubmit()" class="update-user__info">
    <mat-dialog-content class="mat-typography">
      <div class="content-form">
        <mat-form-field class="full-width">
          <input matInput placeholder="First Name" formControlName="firstName" [(ngModel)]="firstName">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Last Name" formControlName="lastName" [(ngModel)]="lastName">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="UserName" formControlName="userName" [(ngModel)]="userName">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password" formControlName="password" [(ngModel)]="password">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Role</mat-label>
          <mat-select [value]="role" (selectionChange)="changeRole($event)">
            <mat-option
              *ngFor="let childLisRole of listRole"
              [value]="childLisRole">
              {{ childLisRole }}
            </mat-option>
          </mat-select>
          <!-- <input matInput placeholder="Permission" formControlName="permission" [(ngModel)]="permission"> -->
        </mat-form-field>
        <h5>Classes</h5>
        <div class="mb-3">
          <span
            class="class__ischoose"
            *ngFor="let item of getCheckedItems()"
            (click)="onCheck(item)">
            {{ item.shortName }}
          </span>
        </div>
        <div class="listClasses">
          <mat-list-item *ngFor="let item of getUncheckedItems()" (click)="onCheck(item)">
            <span matLine class="listClasses__child">{{ item.shortName }}</span>
          </mat-list-item>
        </div>

      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial type="submit">Save</button>
    </mat-dialog-actions>
  </form>
</div>

<div *ngIf="!type">
  <h2 mat-dialog-title>Delete User</h2>
<mat-dialog-content class="mat-typography">
  <p>Are you sure delete user of {{ firstName }} !!!</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="deleteUser()" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>
</div>