<h2>Create new Member</h2>
<div class="create__member">
  <div class="load__image">
    <img 
      id="upload__review" 
      [src]="srcImage || '../../../assets/image/default-user-image.png'" 
    />

    <label for="avatar" class="label__image">Change Image</label>
    <input 
      type="file" 
      id="avatar" 
      name="avatar" 
      accept="image/png, image/jpeg" 
      ng-model-instant 
      (change)="handlerAvatar($event)"
    >    
  </div>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form__info">
    <mat-form-field class="full-width">
      <input matInput placeholder="Prefix Name" formControlName="prefixName">
      <mat-error *ngIf="hasError('prefixName', 'required')">Prefix name is <strong>required</strong></mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>
  
  
    <button mat-raised-button color="primary" type="submit" class="mb-2 mr-2" [disabled]="formGroup.invalid">Save</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </form>
</div>

<!-- <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" formControlName="username" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
</form> -->