<div class="create__checklist">
  <div class="create__checklist-header">
    <h1>Create new checklist</h1>
    <div class="mt-2 d-flex justify-content-between align-items-center flex-wrap">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" class="mr-2" (click)="onSubmit()">Save</button>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
      </div>
      <p>
        Options selected: {{getCheckedItems().length}}
      </p>
      <button mat-raised-button color="primary" (click)="SelectAll()">Selecte All</button>
    </div>
  </div>
  <!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->

  <mat-nav-list class="create-list">
    <div class="list-item">
      <h3 mat-subheader>Unchecked items</h3>
      <mat-list-item *ngFor="let item of getUncheckedItems()" (click)="onCheck(item)">
        <img matListAvatar [src]="item.avatar || '/assets/image/default-user-image.png'" alt="...">
        <a matLine>{{ item.name }}</a>
        <!-- <mat-icon [ngSwitch]="item.status">
          <span *ngSwitchCase="1">check_box</span>
          <span *ngSwitchCase="2">indeterminate_check_box</span>
          <span *ngSwitchDefault>check_box_outline_blank</span>
        </mat-icon> -->
        <!-- <button mat-raised-button>Basic</button> -->
      </mat-list-item>
    </div>
    <div class="list-item">
      <h3 mat-subheader>Checked items</h3>
      <mat-list-item *ngFor="let item of getCheckedItems()" (click)="onCheck(item)">
        <img matListAvatar [src]="item.avatar || '/assets/image/default-user-image.png'" alt="...">
        <a matLine>{{ item.name }}</a>
      </mat-list-item>
    </div>
  </mat-nav-list>

  <!-- <mat-selection-list #shoes role="listbox">
    <h3 mat-subheader>Unchecked items</h3>
    <mat-list-option *ngFor="let item of getUncheckedItems()" checkboxPosition="before" (click)="onCheck(item, $event)"
    role="option" [selected]="item.selected" [value]="item.id">
    <p>
      {{item.name}}
    </p>
    <img matListAvatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="...">
  </mat-list-option>
  <h3 mat-subheader>Checked items</h3>
  <mat-list-option *ngFor="let item of getCheckedItems()" checkboxPosition="before" (click)="onCheck(item, $event)"
  role="option" [selected]="item.selected" [value]="item.id">
  <p>
    {{item.name}}
  </p>
</mat-list-option>
</mat-selection-list> -->
</div>