p {
  margin: 0px;
}

.example-card {
  max-width: 400px;
}

mat-form-field {
  width: 45%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.create__checklist{
  font-size:14px
}

.create__checklist-header {
  position: fixed;
  width: 93%;
  top: 60px;
  background: #f2f2f2;
  z-index: 2;
}

h1 {
  font-size: 20px;
  margin-top: 15px
}

button {
	font-size: 12px;
	padding: 0 12px;
	line-height: 30px;
}

.mat-line {
  font-size: 12px !important;
}

.create-list {
  padding-top: 130px;
  width: 100%;
  display: flex;
}

.list-item {
  width: 50%;
}

.list-item .mat-list-item-content {
  padding: 0px !important;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text {
  padding: 5px !important;
}

.mat-list-item {
  background: #8080801a;
}

.list-item.unchecked .mat-list-item:nth-child(2n+1) {
  background: #80808030;
}

.list-item.checked .mat-list-item:nth-child(2n) {
  background: #80808030;
}

@media only screen and (min-width: 1024px) {
  .create__checklist{
    font-size:16px
  }

  mat-form-field {
    width: 15%;
  }

  h1 {
    font-size: 2rem;
  }

  button {
    font-size: 14px;
    padding: 0 14px;
    line-height: 35px;
  }

  .mat-line {
    font-size: 16px !important;
  }

  .create__checklist-header {
    top: 0;
    width: 90%;
  }

  .create-list {
    padding-top: 145px;
  }
}
