/* @media only screen and (max-width: 425px) {
	.member-list {
		margin-top: 75px;
	}
} */
h2 {
	font-size: 22px;
	line-height: 50px;
}

.member-list__header-fix {
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 60px;
	left: 0;
	padding: 10px 16px 0;
	background: #f2f2f2;
}

.mat-form-field-wrapper {
	padding-bottom: 12px;
}

.member-list__header {
	display: flex;
	justify-content: space-between;
}

.member-list .mat-slide-toggle-content {
	font-size: 12px;
}

.btn_list {
	display        : flex;
	justify-content: space-between;
}

button {
	font-size: 12px;
	padding: 0 12px;
	line-height: 30px;
}

mat-form-field {
	width: 70%;
}

.chooseClasses {
	width: 150px;
	font-size: 12px;
}

@media only screen and (min-width: 425px) {
	h2 {
		font-size: 22px;
	}

	button {
		line-height: 33px;
		padding: 0 14px;
	}
}

@media only screen and (min-width: 1024px) {
	h2 {
		font-size: 2rem;
	}

	button {
		font-size: 14px;
		line-height: 36px;
		padding: 0 16px;
	}

	.member-list__header-fix {
    width: 100%;
    top: 0;
    left: 70px;
    padding: 15px 90px 0 20px;
	}

	mat-form-field {
		width: 40%;
	}

	.chooseClasses {
		width: 200px;
		font-size: 14px;
		line-height: 15px;
	}
}