@media only screen and (max-width: 425px) {
	.member-list {
		margin-top: 75px;
	}
}

.member-list__header {
	display: flex;
	justify-content: space-between;
}

.btn_list {
	display        : flex;
	justify-content: space-between;
}

