<div class="member-list">
  <div class="member-list__header">
    <h2>Member List</h2>
    <mat-slide-toggle color="primary" (click)="handlerChangeView()"> 
      Change view
    </mat-slide-toggle>
  </div>
  <div class="btn_list">
    <button mat-raised-button color="primary" type="button" class="mb-2" (click)="createNew()">
      Create New
    </button>
    <button mat-raised-button color="primary" type="button" class="mb-2" [disabled]="listChecked.length === 0"
      (click)="deleteMembers()">
      Delete items
    </button>
  </div>
  <app-table-member-list 
    *ngIf="viewTable; else viewList"
    [memberList]="memberList"
    (checkList)="checkList($event)"
  >
  </app-table-member-list>

  <ng-template #viewList>
    <app-grid-member-list 
      [memberList]="memberList" 
      (checkList)="checkList($event)"
    >
    </app-grid-member-list>
  </ng-template>
</div>