<!-- <div class="container-fluid">
  <nav>
    <a [routerLink]="[ '/customers' ]" routerLinkActive="active" class="btn btn-primary active"
      role="button">Customer</a>
    <a [routerLink]="[ '/add' ]" routerLinkActive="active" class="btn btn-primary active" role="button">Add</a>
  </nav>
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div> -->

<div id="container">
  <app-sidebar></app-sidebar>

  <div class="container-fluid mt-3">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>
</div>