.full-width {
  width: 100%;
}

h2 {
	font-size: 20px;
}

.form__member {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-top: 10px;
	font-size: 12px;
	width: 100%;
	padding-bottom: 60px;
}

.load__image {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.image {
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
	border-radius: 100px;
	overflow: hidden;
}

#upload__review {
	width: 100%;
	height: 100%;
	object-fit: cover
}

#avatar {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.content-form {
	height: 150px;
	overflow: hidden;
}

.show-info {
	cursor: pointer;
	color: #3520e2;
	text-decoration-line: underline;
	margin-bottom: 10px;
}

.toggle-show-form {
	height: auto
}

.label__image {
	border: 1px solid green;
	line-height: 30px;
	padding: 0 5px;
	cursor: pointer;
}

button {
	font-size: 12px;
	padding: 0 12px;
	line-height: 30px;
}

.form-member__footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	background: #f2f2f2;
	margin-left: -17px;
}

@media only screen and (min-width: 768px) {
	h2 {
		font-size: 23px;
	}

	.form__member {
		flex-direction: row;
		margin-top: 20px;
	}

	.load__image {
		width: 30%;
	}

	.form__member form {
		width: 70%;
	}

	.label__image {
		line-height: 33px;
		padding: 0 10px;
	}
	.image {
		width: 180px;
		height: 180px;
	}

	.content-form {
		height: 240px;
	}

	.toggle-show-form {
		height: auto
	}

	button {
		font-size: 14px;
		padding: 0 14px;
		line-height: 35px;
	}

	.form-member__footer {
		position: static;
		display: block;
	}
}

@media only screen and (min-width: 1024px) {
	h2 {
		font-size: 2rem;
	}

	.form__member {
		font-size: 14px;
	}

	.label__image {
		line-height: 33px;
		padding: 0 20px;
	}

	.image {
		width: 200px;
		height: 200px;
	}

	.content-form {
		height: 345px;
	}

	.toggle-show-form {
		height: auto
	}
}