<h2 mat-dialog-title>Choose Class</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Class</mat-label>
    <mat-select (selectionChange)="handleCatechism($event)">
      <mat-option
        *ngFor="let className of listClass"
        [value]="className.id">
        {{ className.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    (click)="sendClass()"
    color="primary"
  >Send</button>
</mat-dialog-actions>
