<mat-progress-bar
  *ngIf="progress"
  mode="indeterminate"
></mat-progress-bar>

<div *ngIf="!progress">
  <div class="check-list__header">
    <h2 class="check-list__title">My Check List</h2>
    <div>
      <button
      *ngIf="hasRole()"
        mat-raised-button
        color="primary"
        type="button"
        class="mb-2"
        (click)="createNewChecklist()"
      >Create New
      </button>

      <button
      *ngIf="hasRole()"
        mat-raised-button
        color="primary"
        type="button"
        class="mb-2 delete"
        (click)="DeleteDate()"
        [disabled]="chooseListDay.length === 0"
      >Delete Date
      </button>
    </div>
  </div>

  <div id="check-list">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center check-list__name" [class.short-name]="isShortName">Name</th>
          <th
            scope="col"
            class="text-center date"
            *ngFor="let checkDate of checkedDateList"
            (click)="chooseDateDel(checkDate)"
            [class.done] = "checkDate.checked"
          >
          {{checkDate.getDate()}}<br>{{checkDate.getMonth() + 1}}
          </th>
          <th scope="col" class="text-center">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of memberList; let i = index">
          <th scope="row" class="text-center">{{i+1}}</th>
          <td class="check-list__name">
            <img
            class="check-list__avt"
            [src]="member.avatar || '/assets/image/default-user-image.png'"
            [alt]="member.firstName">
            {{ isShortName ? hasNickname(member) : member?.lastName + ' ' + member?.firstName}}
          </td>
          <td
            class="text-center"
            *ngFor="let checkDate of checkedDateList"
            (click)="changeStick(member, checkDate)"
          >
            <!-- <mat-icon *ngIf="isCheckedDate(member.checkedDate, checkDate.date)">check_box</mat-icon> -->
          </td>
          <!-- <th scope="row" class="text-center">{{member.checkedDate.length}}</th> -->
          <th scope="row" class="text-center">1</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>