<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="full-width">
    <input matInput placeholder="First Name" formControlName="firstName">
    <mat-error *ngIf="hasError('firstName', 'required')">First name is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Last Name" formControlName="lastName" >
    <mat-error *ngIf="hasError('lastName', 'required')">Last name is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Class</mat-label>
    <mat-select formControlName="classes">
      <mat-option
        *ngFor="let className of listCatechism"
        [value]="className">
        {{ className.name }}
      </mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Username" formControlName="username" >
    <mat-error *ngIf="hasError('username', 'required')">Username is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="hasError('password', 'required')">Password is <strong>required</strong></mat-error>
  </mat-form-field>

  <div class="form-group">
    <button mat-raised-button [disabled]="loading" class="mr-2" color="primary">Register</button>
    <img *ngIf="loading"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <button mat-raised-button>
        <a [routerLink]="['/login']">Cancel</a>
    </button>
  </div>
</form>