h2 {
  font-size: 22px;
  line-height: 30px;
  margin: 0;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

i {
  cursor: pointer;
}

.mat-cell {
  font-size: 12px;
}

button {
  font-size: 12px;
  padding: 0 12px;
  line-height: 30px;
}

@media only screen and (min-width: 1024px) {
  .mat-cell {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    line-height: 36px;
    padding: 0 16px;
  }

  h2 {
    font-size: 2rem;
  }
}